.lv {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.lv_announcements ~ .lv_controls {
    padding-top: 0.5rem;
}

@media only screen and (max-device-width: 640px) {
    .lv_controls {
        margin-top: 0.5rem;
    }
}

.lv_loaded {
    padding-top: 0.5rem;
    /*
    Normally, the padding is provided by the top-level .lv element.
    however, we would like the area to the left and right of .lv_loaded to be considered part of .lv_loaded...
    ...so that scrolling in these areas scrolls the list.
    The hack here is a variation of the Benface maneuver. We add negative margins to the element to make it
    extend further than it normally would, then re-add the padding as part of this element.
    */
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.laggy\!lv_loaded {
    opacity: 0.6;
}