/* 
CTRL-F to navigate !!!

General rules:

 - the top level element of a component has a unique class name which is usually
   an abbreviated version of the js file. (e.g. LevelBox => lb)
 - elements underneath a component are all prefixed with the top level element with
   a single underscore. elements otherwise have fairly generic names.
 - avoid nested elements in naming as much as possible.
 - components can have modifiers. these have the modifier name and then an exclamation mark prefix:
    e.g. very-tough\!dd

it's basically BEM [http://getbem.com] but with different syntax cause I didn't like the double
underscore and double dash thing

*/
:root {
	--gray-50: #faf9f5;
	--gray-100: #f3f1ed;
	--gray-200: #e1ddd6;
	--gray-300: #c5bdb5;
	--gray-400: #afa397;
	--gray-500: #8e7d71;
	--gray-600: #66564d;
	--gray-700: #51433d;
	--gray-800: #46332f;
	--gray-900: #2b1717;

	--rose-50: #FFF1F2;
	--rose-100: #FFE4E6;
	--rose-200: #FECDD3;
	--rose-300: #FDA4AF;
	--rose-400: #FB7185;
	--rose-500: #F43F5E;
	--rose-600: #E11D48;
	--rose-700: #BE123C;
	--rose-800: #9F1239;
	--rose-900: #881337;

	--lime-300: #BEF264;
	--lime-800: #3F6212;

	--amber-300: #FCD34D;
	--amber-800: #92400E;

	--violet-300: #C4B5FD;
	--violet-800: #5B21B6;

	--sans: 'Merriweather Sans', sans-serif;

	--light: 300;
	--medium: 400;
	--semibold: 600;
}

body {
	font-family: var(--sans);
	font-size: 1rem;
	line-height: 1.5rem;
}

/* LoadingScreen.js */
.ls {
	display: flex;
	height: 100vh;
	background-color: var(--gray-100);
	align-items: center;
	justify-content: center;
}

.ls_panel {
	padding: 1rem;
}

/* LoadingPanel */
.lp {
	background-color: var(--gray-50);
}

.lp_title {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.lp_description {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-top: 0.5rem;
	color: var(--gray-500);
}

/* Levels.js */

.le {
	background-color: var(--gray-100);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	background-attachment: fixed;
	min-height: calc(100vh - 2.5rem);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
}

.le_list {
	min-width: 67%;
	max-width: 67%;
	padding-left: 2rem;
}

.le_box {
	margin-top: 2rem;
}

.le_search {
	width: 33%;
	padding: 1rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	position: sticky;
	top: 6rem;
}

/* SearchOptionsBox.js */
.sb {
	background-color: var(--gray-50);
	display: flex;
	flex-direction: column;
}

.sb_form {
	display: flex;
}

.sb_input {
	padding: 0.5rem;
	padding-left: 1.5rem;
	background-color: var(--gray-200);
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
	flex-grow: 1;
}

.sb_input::placeholder {
	color: var(--gray-700);
}

.sb_input:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px var(--gray-200);
}

.sb_sep {
	width: 0.375rem;
	color: var(--gray-400);
}

.sb_button {
	background-color: var(--gray-200);
	padding-left: 0.75rem;
	padding-right: 1rem;
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
	color: var(--gray-900);
}

.sb_button:hover {
	background-color: var(--gray-600);
	color: var(--gray-100);
}

.sb_twine {
	margin-top: 1.25rem;
	padding-left: 1.5rem;
	color: var(--gray-800);
}

.sb_row {
	display: flex;
	margin-top: 0.75rem;
	align-items: center;
}

.sb_row:first-child {
	margin-top: 0;
}

.sb_icon {
	font-size: 1.25rem;
	width: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sb_icon + span {
	margin-left: 1rem;
}

.sb_select {
	appearance: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
	padding-left: 0.75rem;
	border-radius: 9999px;
	background-color: var(--gray-200);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	padding-right: 1.75rem;
}

.sb_select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px var(--gray-200);
}

.sb_select:disabled {
	opacity: 0.3;
}

.sb_row .token-input {
	font-size: 0.75rem;
	line-height: 1rem;
	font-style: italic;
	margin-left: 0.25rem;
}

.sb_row .token-input .tags-input:focus-within {
	outline: 2px solid transparent;
	outline-offset: 1px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 1px var(--gray-200);
}

.sb_row .token-input .tags-input {
	width: 12rem;
	background-color: var(--gray-200);
}

.sb_row .token-input + span {
	margin-left: 0.125rem;
}

.sb_toggle {
	color: var(--rose-600);
	font-weight: var(--semibold);
}

.sb_toggle:hover {
	color: var(--rose-800);
	cursor: pointer;
}

.sb_toggle:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

/* LevelBox.js */
.lb {
	background-color: var(--gray-50);
	display: flex;
	flex-direction: row;
}

.lb_image1 {
	width: 40%;
	max-width: 28rem;
	background-color: var(--rose-500);
}

.lb_image2 {
	position: relative;
	height: 100%;
	background-color: var(--gray-200);
	padding-bottom: 56.25%; /* 9/16 */
}

.lb_image3 {
	position: absolute;
	top: 0;
	z-index: 10;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.lb_info {
	position: relative;
	width: 60%;
}

.lb_info2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1em;
}

.lb_artist {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--gray-700);
}

.lb_song {
	font-weight: var(--semibold);
}

.lb_decorator {
	position: absolute;
	top: 0;
	right: 0;
}

.lb_icons1 {
	display: flow-root;
	overflow: hidden;
}

.lb_icons2 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.75rem;
	padding-top: -0.25rem;
}

.lb_icon {
	margin-left: 0.75rem;
	padding-top: 0.25rem;
	color: var(--gray-700);
	font-size: 0.75rem;
	line-height: 1rem;
}

.lb_icon span {
	margin-left: 0.25rem;
}

.lb_spacer {
	flex-grow: 1;
}

.lb_tags1 {
	display: flow-root;
	overflow: hidden;
}

.lb_tags2 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.25rem;
	margin-top: -0.125rem;
}

.lb_tag {
	margin-left: 0.25rem;
	font-size: 0.75rem;
	margin-top: 0.125rem;
	line-height: 1rem;
	font-style: italic;
	padding-top: 0.25rem;
	padding-bottom: 0.125rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	color: var(--gray-700);
	background-color: var(--gray-200);
}

.lb_description {
	display: none;
}

.lb_downloads {
	display: none;
}

.expanded\!lb .lb_icons1, .expanded\!lb .lb_tags1 {
	display: none;
}

.expanded\!lb .lb_description {
	display: block;
	padding: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-top: 0.25rem;
	background-color: var(--gray-100);
	color: var(--gray-700);
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.expanded\!lb .lb_downloads {
	display: flex;
}

.lb_download {
	background-color: var(--rose-700);
	font-size: 0.75rem;
	color: var(--rose-100);
	padding: 0.125rem;
	margin-left: 0.25rem;
}

.lb_download:first-child {
	margin-left: 0rem;
}

.lb_download:hover {
	background-color: var(--rose-500);
	color: var(--rose-50);
	cursor: pointer;
}

/* .expanded\!lb .lb_image1 {
	width: 0%;
} */

/* DifficultyDecoration.js */
.dd {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}

.dd_bg {
    width: 1.5rem;
    clip-path: polygon(0% -4%, 104% -4%, 104% 100%, 100% 100%);
}

.dd_text {
	font-size: 0.75rem;
	line-height: 1rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	text-transform: lowercase;
	font-weight: --var(light);
}

.easy\!dd > span {
	color: var(--lime-300);
	background-color: var(--lime-800);
}

.medium\!dd > span {
	color: var(--amber-800);
	background-color: var(--amber-300);
}

.tough\!dd > span {
	color: var(--rose-300);
	background-color: var(--rose-800);
}

.very-tough\!dd > span {
	color: var(--violet-300);
	background-color: var(--violet-800);
}

.he {
	height: 2.5rem;
	background-color: var(--rose-200);
}