/* CTRL-F to navigate !!! */
:root {
	--gray-50: #faf9f5;
	--gray-100: #f3f1ed;
	--gray-200: #e1ddd6;
	--gray-300: #c5bdb5;
	--gray-400: #afa397;
	--gray-500: #8e7d71;
	--gray-600: #66564d;
	--gray-700: #51433d;
	--gray-800: #46332f;
	--gray-900: #2b1717;

	--rose-50: #FFF1F2;
	--rose-100: #FFE4E6;
	--rose-200: #FECDD3;
	--rose-300: #FDA4AF;
	--rose-400: #FB7185;
	--rose-500: #F43F5E;
	--rose-600: #E11D48;
	--rose-700: #BE123C;
	--rose-800: #9F1239;
	--rose-900: #881337;

	--lime-300: #BEF264;
	--lime-800: #3F6212;

	--amber-300: #FCD34D;
	--amber-800: #92400E;

	--violet-300: #C4B5FD;
	--violet-800: #5B21B6;

	--sans: 'Merriweather Sans', sans-serif;

	--light: 300;
	--medium: 400;
	--semibold: 600;
}

body {
	font-family: var(--sans);
	font-size: 1rem;
	line-height: 1.5rem;
}

/* LoadingScreen.js */
.loading-screen {
	display: flex;
	height: 100vh;
	background-color: var(--gray-100);
	align-items: center;
	justify-content: center;
}

.loading-screen .loading-panel {
	padding: 1rem;
}

/* LoadingPanel */
.loading-panel {
	background-color: var(--gray-50);
}

.loading-panel h1 {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.loading-panel p {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-top: 0.5rem;
	color: var(--gray-500);
}

/* Levels.js */

.levels {
	background-color: var(--gray-100);
	height: 100vh;
	display: flex;
	justify-content: center;
}

.levels_level-list {
	min-width: 67%;
}

.levels_level-list .level-box {
	margin-top: 2rem;
}


.levels_search-options {
	width: 33%;
	padding: 1.25rem;
	margin-left: 2rem;
}

/* SearchOptionsBox.js */
.search-options {
	background-color: var(--gray-50);
	display: flex;
	flex-direction: column;
}

.search-options_search {
	display: flex;
}

.search-options_input {
	padding: 0.5rem;
	padding-left: 1.5rem;
	background-color: var(--gray-200);
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
	flex-grow: 1;
}

.search-options_input::placeholder {
	color: var(--gray-700);
}

.search-options_input:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px var(--gray-200);
}

.search-options_sep {
	width: 0.375rem;
	color: var(--gray-400);
}

.search-options_button {
	background-color: var(--gray-200);
	padding-left: 0.75rem;
	padding-right: 1rem;
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
	color: var(--gray-900);
	/* --fa-secondary-opacity: 0.8; */
}

.search-options_button:hover {
	background-color: var(--gray-600);
	color: var(--gray-100);
}

.search-options_twine {
	margin-top: 1.25rem;
	padding-left: 1.5rem;
	color: var(--gray-800);
}

.search-options_row {
	display: flex;
	margin-top: 0.75rem;
	align-items: center;
}

.search-options_row:first-child {
	margin-top: 0;
}

.search-options_row-icon {
	font-size: 1.25rem;
	width: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-options_row-icon + span {
	margin-left: 1rem;
}

.search-options_select {
	appearance: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
	padding-left: 0.75rem;
	border-radius: 9999px;
	background-color: var(--gray-200);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	padding-right: 1.75rem;
}

.search-options_select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px var(--gray-200);
}

.search-options_select:disabled {
	opacity: 0.3;
}

.search-options_row .token-input {
	font-size: 0.75rem;
	line-height: 1rem;
	font-style: italic;
	margin-left: 0.25rem;
}

.search-options_row .token-input .tags-input:focus-within {
	outline: 2px solid transparent;
	outline-offset: 1px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 1px var(--gray-200);
}

.search-options_row .token-input .tags-input {
	width: 12rem;
	background-color: var(--gray-200);
}

.search-options_row .token-input + span {
	margin-left: 0.125rem;
}

.search-options_toggle {
	color: var(--rose-600);
	font-weight: var(--semibold);
}

.search-options_toggle:hover {
	color: var(--rose-800);
	cursor: pointer;
}

.search-options_toggle:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

/* LevelBox.js */
.level-box {
	background-color: var(--gray-50);
	display: flex;
	flex-direction: row;
}

.level-box_image-box {
	width: 40%;
	max-width: 28rem;
	background-color: var(--rose-500);
}

.level-box_image-box_wrapper {
	position: relative;
	height: 100%;
	background-color: var(--gray-200);
	padding-bottom: 56.25%; /* 9/16 */
}

.level-box_image-box_image {
	position: absolute;
	top: 0;
	z-index: 10;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.level-box_info {
	position: relative;
	width: 60%;
}

.level-box_info_title {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1em;
}

.level-box_artist {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--gray-700);
}

.level-box_song {
	font-weight: var(--semibold);
}

.level-box_decorator {
	position: absolute;
	top: 0;
	right: 0;
}

.level-box_info-wrapper {
	display: flow-root;
	overflow: hidden;
	margin-top: 0.5rem;
}

.level-box_info-icons {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.75rem;
}

.level-box_icon {
	margin-left: 0.75rem;
	color: var(--gray-700);
	font-size: 0.75rem;
	line-height: 1rem;
}

.level-box_icon span {
	margin-left: 0.25rem;
}

/* DifficultyDecoration.js */
.difficulty-decoration {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}

.difficulty-decoration_bg {
    width: 1.5rem;
    clip-path: polygon(0% -4%, 104% -4%, 104% 100%, 100% 100%);
}

.difficulty-decoration_text {
	font-size: 0.75rem;
	line-height: 1rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	text-transform: lowercase;
	font-weight: --var(light);
}

.easy\!difficulty-decoration span {
	color: var(--lime-300);
	background-color: var(--lime-800);
}
.medium\!difficulty-decoration span {
	color: var(--amber-800);
	background-color: var(--amber-300);
}
.tough\!difficulty-decoration span {
	color: var(--rose-300);
	background-color: var(--rose-800);
}
.very-tough\!difficulty-decoration span {
	color: var(--violet-300);
	background-color: var(--violet-800);
}