/* .sp_radio {
    all: revert;
} */

.sp {
    padding: 0.25rem;
}

.sp_row {
    display: flex;
    align-items: center;
}

.sp_row > span {
    margin-left: 0.5rem;
}

.sp_radio {
    width: 1.15rem;
    height: 1.15rem;
    background-color: var(--violet-200);
    font: inherit;
    color: var(--violet-500);
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.1em);
    display: grid;
    place-content: center;
    border-radius: 9999px;
    transition-property: transform;
}

.sp_radio::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--violet-500);
    clip-path: circle(50%);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.sp_radio:checked::before {
    transform: scale(1);
}
  