.he {
	display: flex;
	height: 2.75rem;
	background-color: var(--violet-300);
	z-index: 10;
	box-shadow: var(--shadow-elevation-low);
	align-items: stretch;
}

.he_logo {
	height: 3.4rem;
	fill: var(--violet-400);
	opacity: 70%;
}

.he_search {
	margin-left: 1.5rem;
	margin-right: 4rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	flex-grow: 1;
}

.he_temp {
	margin-left: 5rem;
}
/* 
.he_announcements {
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
	flex-wrap: nowrap;
	font-size: 0.75rem;
	overflow-x: scroll;
	color: var(--violet-900);
}

.he_announcements li {
	flex-shrink: 0;
}

.he_announcements li ~ li {
	margin-left: 1rem;
}

.he_announcements a {
	color: var(--violet-600);
}

.he_announcements a:hover {
	color: var(--violet-400);
	text-decoration: underline;
}

.he_searchbar {
	flex-grow: 1;
} */