.lb {
    width: 24rem;
    background-color: var(--warmGray-100);
}

.lb_imagebox {
    position: relative;
    padding-bottom: calc(900%/16);
}

.lb_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lb_info {
    padding: 1rem;
}

.lb_cast {
    display: flex;
    flex-direction: column;
}


.lb_artist {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--warmGray-500);
}

.lb_song {
    font-size: 1rem;
    line-height: 1.75rem;
}

/*
time for the BENFACE MANEUVER!!!!

named after the Patron Saint of CSS, benface
*/
.lb_metadatawrapper {
    display: flow-root;
    margin-top: 0.125rem;
}

/* the Benface Maneuver involves first putting negative margin on this element... */
.lb_metadata {
    margin-top: -0.25rem;
    margin-left: -0.75rem;
    display: flex;
    flex-wrap: wrap;
}

/* ...and all the children get a positive margin to "cancel it out". */
/* this way, any child that's visually "next" to the parent won't have a margin, but elements that are "next" to
a sibling of the parent will. */
.lb_metaitem {
    /* FA icons inherit size from their container, which is why we're setting font size here
    and not in lb_metatext */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-left: 0.75rem;
    margin-top: 0.25rem;
    max-width: 100%;
    color: var(--warmGray-600);
}

.lb_metatext {
    margin-left: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yay\!lb_approved {
    color: var(--green-500);
}

.nay\!lb_approved {
    color: var(--rose-600);
}