.le {
    padding: 1.5rem;
    background-color: var(--warmGray-300);
}

.le_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1.25rem;
    place-items: stretch;
}

.le_item {
    display: grid;
    place-items: stretch;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}