.le, .loading\!le {
    padding: 1.5rem;
    background-color: var(--blueGray-300);
    min-height: calc(100vh - 1.5em);
}

.le_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1.25rem;
    place-items: stretch;
}

.le_item, .le_next {
    display: grid;
    place-items: stretch;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.le_next {
    background-color: var(--blueGray-400);
    border-radius: 0.5rem;
}

.le_next:hover {
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.2), 0 4px 6px -1px rgba(0, 0, 0, 0.12);
}

.le_next > button {
    display: grid;
    place-content: center;
    color: var(--blueGray-200);
    letter-spacing: 0.05em;
    font-weight: 600;
}

.le_next:hover > button {
    color: var(--blueGray-100);
}

.loading\!le {
    display: grid;
    place-content: center;
}

.le_loadicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blueGray-700);
}

.le_loadicon > span {
    margin-top: 1rem;
    letter-spacing: 0.05em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.le_loadicon > i {
    font-size: 3rem;
    animation: spin 1s linear infinite;
}