.lb {
    width: 24rem;
    background-color: var(--warmGray-100);
}

.lb_imagebox {
    position: relative;
    padding-bottom: calc(900%/16);
}

.lb_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lb_info {
    padding: 1rem;
}

.lb_artist {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--warmGray-500);
}

.lb_song {
    font-size: 1.125rem;
    line-height: 1.75rem;
}