.lb {
    width: 24rem;
    background-color: var(--warmGray-100);
}

.lb_imagebox {
    position: relative;
    padding-bottom: 50%;
}

.lb_info {
    padding: 1rem;
}

.lb_artist {
    font-size: 0.75rem;
    line-height: 0.8rem;
    color: var(--warmGray-500);
}

.lb_song {
    font-size: 1.125rem;
    line-height: 1.75rem;
}