.so {
    width: 24rem;
    background-color: var(--violet-100);
}

.so_twine {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.so_row {
	display: flex;
	margin-top: 0.75rem;
	align-items: center;
}

.so_row:first-child {
	margin-top: 0;
}

.so_icon {
	font-size: 1.25rem;
	width: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.so_icon + span {
	margin-left: 1rem;
}

/* select elements have a left margin only if there's text to the left */
span + .so_select {
    margin-left: 0.5rem;
}

span:empty + .so_select {
    margin-left: 0rem;
}

.so_select {
	appearance: none;
	margin-right: 0.5rem;
	padding: 0.25rem;
	padding-left: 0.75rem;
	border-radius: 9999px;
	background-color: var(--violet-200);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
    background-size: 1.25rem;
	background-repeat: no-repeat;
	padding-right: 1.75rem;
}

.so_select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	background-color: white;
	box-shadow: inset 0 0 0 2px var(--violet-200);
}

.so_select:disabled {
	opacity: 0.3;
}