.sb {
    flex-grow: 1;
}

.sb_bar {
    margin-left: 1rem;
    padding: 0.25rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sb_input {
    flex-grow: 1;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: var(--violet-100);
    color: var(--violet-900);
    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;
    padding-left: 1.25rem;
}

.sb_input:focus {
    background-color: white;
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: inset 0 0 0 2px var(--violet-300);
}

.sb_input::placeholder {
    color: var(--violet-400);
}

.sb_filtertoggle {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--violet-300);
    color: var(--violet-100);
}

.sb_filtertoggle:hover {
    background-color: var(--violet-100);
    color: var(--violet-300);
}

.sb_input:focus ~ .sb_filtertoggle:hover {
    background-color: white;
    color: var(--violet-300);
    box-shadow: inset 0 0 0 2px var(--violet-300);
}

.sb_button {
    border-left: 2px solid var(--violet-200);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--violet-300);
    color: var(--violet-100); 
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
}

.sb_button:hover {
    background-color: var(--violet-100);
    color: var(--violet-300);
}

.sb_input:focus ~ .sb_button:hover {
    background-color: white;
    color: var(--violet-300);
    box-shadow: inset 0 0 0 2px var(--violet-300);
}