.se {
    display: flex;
}

.se_bar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    color: var(--violet-900);
    border-radius: 0.5rem;
}


.se_input {
    background-color: var(--violet-100);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 0.5rem;
    flex-grow: 1;
    font-size: 0.875rem;
}

.se_input:focus {
    background-color: var(--violet-50);
    box-shadow: inset 0 0 0 2px var(--indigo-100);
}


.se_input::placeholder {
    color: var(--violet-400);
}


.se_button {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    background-color: var(--indigo-400);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.se_button:hover {
    background-color: var(--indigo-300);
    cursor: pointer;
}

.se_button:hover .se_mag {
    color: var(--indigo-700);
}

.se_mag {
    height: 1.25rem;
    color: var(--indigo-200);
}