.lb {
    width: 26rem;
    background-color: var(--blueGray-100);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.lb_imagebox {
    position: relative;
    padding-bottom: calc(900%/16); /* 16:9 ratio */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}

.lb_image, .lb_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lb_image {
    background-color: var(--blueGray-600);
    object-fit: cover;
    transition-property: filter;
    transition-duration: 250ms;
}

.lb:hover .lb_image {
    filter: brightness(55%) saturate(30%) blur(2px);
}

.lb_overlay {
    padding: 1.25rem;
    opacity: 0;
    color: white;
    transition-property: opacity;
    transition-duration: 250ms;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.lb:hover .lb_overlay {
    opacity: 1;
}

.lb_description {
    font-size: 0.875rem;
    line-height: 1rem;
    flex-grow: 1;
}

.lb_buttons {
    width: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lb_button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lb_button:hover {
    background-color: var(--violet-400);
    cursor: pointer;
}

.lb_overlayicon {
    width: 1.25rem;
    height: 1.25rem;
}

.lb_info {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lb_decorator {
    position: absolute;
    top: 0;
    right: 0;
}

.lb_cast {
    display: flex;
    flex-direction: column;
}

/* visually, the artist should be above the song. */
.lb_song {
    order: 2;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.25rem;
    overflow-wrap: break-word;
}

.lb_artist {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--blueGray-500);
    order: 1;
}

/*
The Benface maneuver is no longer required as there is now the column-gap and row-gap
properties for Flexbox

Benface is still the Patron Saint of CSS though
*/
.lb_metadata {
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 0rem;
}

.lb_metaitem {
    display: flex;
}

.lb_metaicon {
    width: 1rem;
    height: 1rem;
}

.lb_authors, .lb_bpm, .lb_source {
    color: var(--blueGray-700);
    display: flex;
    font-size: 0.75rem;
    line-height: 1.125rem;
    max-width: 100%;
}

.lb_author-list, .lb_bpm-text, .lb_source-button {
    margin-left: 0.25rem;
}

.lb_author-list, .lb_bpm-text, .lb_source-button {
    margin-left: 0.25rem;
}

.lb_metabutton, .lb_metatext {
    white-space: pre;
    color: var(--blueGray-500);
}

.lb_metabutton:hover {
    color: var(--blueGray-700);
    text-decoration: underline;
    cursor: pointer;
}

.yay\!lb_approval {
    color: var(--green-400);
}

.nope\!lb_approval {
    color: var(--rose-600);
}

.lb_spacer {
    flex-grow: 1;
}

.lb_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    padding-top: 0.75rem;
}

.lb_tag {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: var(--blueGray-200);
    color: var(--blueGray-500);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
}

.lb_tag:enabled:hover {
    background-color: var(--blueGray-300);
    color: var(--blueGray-600);
    cursor: pointer;
}

.caution\!lb_tag {
    background-color: var(--amber-100);
    color: var(--amber-600);
}

.caution\!lb_tag > .lb_metaicon {
    color: var(--amber-500);
}

.caution\!lb_tag span {
    margin-left: 0.25rem;
}

.lb_id {
    position: absolute;
    bottom: 0;
    right: 0.25rem;
    font-size: 0.65rem;
    color: var(--blueGray-300);
}