.se {
    display: flex;
}

.se_bar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    background-color: var(--violet-100);
    color: var(--violet-900);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.se_token {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
}

.se > *:first-child {
    margin-left: 0.5rem;
}

.se_add {
    margin-left: 0.5rem;
}

.se_button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--coolGray-400);
    border-left: 0.25rem solid var(--violet-300);
    color: var(--coolGray-100);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.se_button:hover {
    background-color: var(--coolGray-300);
    cursor: pointer;
    color: var(--coolGray-600);
}


.se_input {
    margin-left: 0.5rem;
    flex-grow: 1;
    font-size: 0.875rem;
}