.se {
    display: flex;
    align-items: stretch;
    background-color: var(--violet-100);
    color: var(--violet-900);
    border-radius: 0.25rem;
}

.se_token {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
}

.se > *:first-child {
    margin-left: 0.5rem;
}

.se_add {
    margin-left: 0.5rem;
}

.af {
    position: relative;
    display: flex;
    align-items: center;
}

.af_button {
    color: var(--violet-300);
    border-color: var(--violet-200);
    border-width: 1px;
    border-style: dashed;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.af_button:hover {
    border-color: var(--violet-500);
    color: var(--violet-500);
    cursor: pointer;
}

.af_list {
    position: absolute;
    top: 0;
    margin-top: 2rem;
    z-index: 30;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.af_message {
    font-style: italic;
    font-size: 0.75rem;
    color: var(--violet-500);
    background-color: var(--coolGray-100);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.af_item, .af_message {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.875rem;
}

.af_item {
    white-space: nowrap;
    background-color: var(--coolGray-100);
}

.af_item:first-child {
    margin-top: 1rem;
}

.af_item:last-child {
    padding-bottom: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.active\!af_item {
    background-color: var(--coolGray-200);
    cursor: pointer;
}
