.ap {
  background-color: var(--blueGray-400);
  min-height: 100vh;
}

.ap_layout {
  display: flex;
  flex-direction: row;
}

.ap_sidebar {
  width: 20rem;
  margin-top: 1.5rem;
  margin-left: 1.25rem;
}

.ap_levels {
  flex-grow: 1;
}

.ap_levels, .ap_sidebar {
  max-height: calc(100vh - 2.75rem);
  overflow-y: auto;
}